@tailwind base;
@tailwind components;
@tailwind utilities;
/* Estilos para o corpo editável do CKEditor */
.ck-editor__editable_inline {
    min-height: 400px; /* Defina a altura mínima desejada */
    /* opcional: max-height para evitar que fique gigante */
    max-height: 600px;
    overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo exceder max-height */
}
.ck.ck-powered-by{
    display: none;
}
